@{
    
}

@model LetsBowlBaby.Models.Bowler

<h1 class="text-center">Bowler Information</h1>

<form method="post" asp-controller="Home" asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="BowlerFirstName">First Name</label>
        <input asp-for="BowlerFirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerMiddleInit">Middle Name</label>
        <input asp-for="BowlerMiddleInit" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerLastName">Last Name</label>
        <input asp-for="BowlerLastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerAddress">Stree Address</label>
        <input asp-for="BowlerAddress" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerCity">City</label>
        <input asp-for="BowlerCity" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerState">State</label>
        <input asp-for="BowlerState" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerZip">State</label>
        <input asp-for="BowlerZip" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerPhoneNumber">Phone Number</label>
        <input asp-for="BowlerPhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TeamID">Team</label>
        <select asp-for="TeamID">
            <option value="">Select a Team</option>
            @*for each "category object in the table Category (see Context file), do this"*@
            @foreach (Team t in ViewBag.Teams)
            {
                <option value="@t.TeamID">@t.TeamName</option>
            }
        </select><br />
    </div>
    <br />
    <div>
        <input class="btn btn-primary" type="submit" value="Save" />
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
        @if (Model.BowlerID != 0)
        {<a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@Model.BowlerID" class="btn btn-danger float-right">Delete</a>}
    </div>
    <input asp-for="BowlerID" type="hidden" value="@Model.BowlerID" />
</form>